<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cat-weather-app</title>
    <link rel="stylesheet" href="/src/static/index.css">
    <script src="/src/static/index.js" defer></script>

</head>

<body>
    <main>
        <header>
            <button id="back-button" class="left-button">
                <img src="/src/static/assets/backbutton.png">
            </button>

            <section class="right-button">
                <button id="minimise-button" >
                    <img src="/src/static/assets/minimiseapp.png">
                </button>
    
                <button id="close-button">
                    <img src="/src/static/assets/closeapp.png">
                </button>
            </section>
            
        </header>


        <!--location screen 1 view-->
        <section id="set-location">
            <p>set location:</p>
            <input id="location-input", type="text", placeholder="start typing...">
            <button id="go-button">go</button>
        </section>

        
        

        <!--weather app screen 2 view -->
        <section id="main-container">
            <img id="weather-icon">
            <p id="weather-status"></p>
            <canvas id="cat-animation"></canvas>
            <p class="forecast-header">forecast</p>

            <article class="forecast-container">
                <article class="forecast-item">
                    <img id="day-one-icon">
                    <p id="day-one-text"></p>
                </article>

                <article class="forecast-item">
                    <img id="day-two-icon">
                    <p id="day-two-text"></p>
                </article>

                <article class="forecast-item">
                    <img id="day-three-icon">
                    <p id="day-three-text"></p>
                </article>
            </article>
        </section>


    </main>

    
</body>

</html>