@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

img {
    image-rendering: pixelated;
    image-rendering: crisp-edges; /* fallback for some browsers */
}

p {
    font-family: "Pixelify Sans", sans-serif;
    color: #4D4A3C;
}

body {
    background-color: #F6EFE9;
    margin: 0;
    min-width: 590px;
}

canvas {
    margin-left: 30px;
}


/*header section */
header{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    background-color: #9EB36A;
}

header button{
    all: unset
}

header button img{
    height: 40px;
    width: 40px;
}

.left-button{
    display: none;
    grid-column: 1;
}


.right-button{
    grid-column: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
}


/*set location view 1st screen*/
#set-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 200px;
}

#set-location p{
    font-size: 50px;
    margin-bottom: 20px;
}

#set-location input{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.5rem;
    padding: 5px 15px;
    border: 3px solid #4D4A3C;
    border-radius: 20px;
    background-color: #F6EFE9;
    color: #4D4A3C;
    outline: none;
    margin-bottom: 20px;
}

#go-button{
    background-color: #9EB36A;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.5rem;
    padding: 5px 20px;
    border-radius: 20px;   
    border: none;
    cursor: pointer;
}


/*main view 2nd screen*/
#main-container{
    display: none;
    margin-top: 80px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

#weather-icon{
    height: auto;
    width: 150px;
    margin-bottom: 10px;
}

#weather-status{
    font-size: 2.5em;
    margin-top: 0px;
    margin-bottom: 5px;
}



/*forecast section*/
.forecast-header{
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 0px;
}

.forecast-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 20px;
}

.forecast-container img{
    height: 80%;
    margin-top: 0px;
}

.forecast-container p {
    font-size: 2rem;
    padding-right: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.forecast-item{
    margin: 10px;
}

.forecast-temp{
    margin-right: 15px;
}

.forecast-text{
    margin-left: 20px;
}